<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form id="login-form">
            <select id="login-method">
                <option id="username-option" value="username">
                    login with username
                </option>
                <option id="email-option" value="email">
                    login with email
                </option>
            </select>
            <input type="text" placeholder="username" id="username-input" />
            <input
                type="text"
                placeholder="user@example.com"
                id="email-input"
                style="display: none"
            />
            <input type="text" placeholder="password" id="password-input" />
            <button type="submit">Login</button>
        </form>
        <script src="script.js"></script>
    </body>
</html>
